[Unit]
Description=nic - network interface configurator
DefaultDependencies=no
Wants=network.target
Before=network.target network-online.target
After=local-fs.target systemd-udevd.service

[Service]
Type=notify
NotifyAccess=main
TimeoutStartSec=5min
TimeoutStopSec=90s
ExecStart=@PREFIX@/sbin/nic start --daemon
ExecStop=@PREFIX@/sbin/nic stop --force
ExecReload=@PREFIX@/sbin/nic reload --force --no-rollback
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
